- hosts: all
  become: true
  tasks:
    - name: Set wheel group to passwdless sudo
      ansible.builtin.lineinfile:
        path: /etc/sudoers
        regexp: '^%wheel'
        line: '%wheel ALL=(ALL) NOPASSWD: ALL'